* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    /* outline: 1px solid red; */
}

body {
    background-color: #FFDD55;
    width: 100%;
}  

header {
    background: #0e0e0e;
    padding: 24px 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 48px 48px;
    corner-shape: squircle;
    position: relative;
    overflow: hidden;
}

.logo {
    width: 68px;
}

nav {
    overflow: visible;
}
.hamburger {
    width: 24px;
    cursor: pointer;
    stroke-width: 2.5px;
    stroke-linecap: round;
    overflow: visible;
}

nav:active .line_top {
    transform: rotate(45deg) translate(-5px, 12px);
    transform-origin: center;
}

nav:active .line_mid {
    transform: scale(0);
    transform-origin: center;
}

nav:active .line_bot {
    transform: rotate(-45deg) translate(2px, -7px);
    transform-origin: center;
}

.nav_links {
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: #FFDD55;
    gap: 16px;
    padding: 24px 16px;
    position: absolute;
    transform: translateX(1000px);
    border-radius: 8px;

}

nav:active .nav_links {
    display: flex;
    transform: translateX(-50px);
    position: fixed;
    z-index: 2;
    box-shadow: 4px 4px 6px 2px #0e0e0e36;
} 

.nav_link {
    text-decoration: none;
    color: #efefef;
    font-size: 16px;


}

.hero {
    padding: 62px 28px;
}

.hero_title {
    font-weight: 900;
    font-size: 48px;
}

.hero_sub {
    font-size: 25px;
    font-weight: 600;
    color: #474a57;
    margin-top: 10px;
    width: 250px;
}


.hero_avatar-n-sos {
    display: flex;
    gap: 16px;
    align-items: stretch;
    margin-top: 40px;
}

#large_screen {
    display: none;
}


.avatar_backdrop {
    width: 80%;
    background-color: #0e0e0e;
    border-radius: 10px;
    box-shadow: 6px 3px 6px 2px #0e0e0e46;
}

.avatar_wrapper {
    width: 100%;
    height: 100%;
    background: #00C6AE;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    border: 2px solid #0e0e0e;
    border-radius: 10px;
    transform: translateX(-5px) translateY(-5px);
}

.avatar {
    width: 70%;
    margin-bottom: -10px;
} 

.floating_sos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    /* position: fixed; */
    bottom: 4px;
    right: 24px;
}

.sos {
    width: 64px;
    height: 64px;
    background-color: #efefef;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100);
    text-decoration: none;
}

.sos:hover, .sos:active {
    filter: grayscale(0);
}

.sos_icon {
    width: 70%;
}

.btn_wrapper {
    width: 100%;
    margin-top: 24px;
    display: flex;
    gap: 18px;
}

.hero_cta {
    padding: 12px 16px;
    background-color: #0e0e0e;
    color: #efefef;
    box-shadow: 5px 5px #00C6AE;
    font-weight: 700;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
    border: 1.5px solid #0e0e0e;
}

.hero_cta:hover, .hero_cta:active {
    background-color: #efefef;
    color: #0e0e0e;
}

/* WIDTH > 400px */
@media screen and (min-width: 400px){
    .avatar_backdrop {
        min-height: 40vh;
    }
}


/* WIDTH > 1020px */

@media screen and (min-width: 1020px) {
    header {
    padding: 24px 64px;
    }

    .hamburger {
        display: none;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 48px;
        position: relative;
        background-color: unset;
    }

    .nav_link {
        font-weight: 500;
        transition: color 0.25s ease-in-out;
        font-size: 32px;
    }

    .nav_link:hover, .nav_link:active {
        color: #FFDD55;
    }

    .hero {
        position: relative;
        padding: 64px;
        margin: auto;
        display: grid;
        grid-template-columns: 45% 45%;
        align-items: center;
        gap: 100px;
        
    }

    .hero_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero_sub {
        width: unset;
    }

    .hero_cta {
        padding: 12px 24px;
        font-size: 32px;
    }

    .avatar_backdrop {
        width: 60%;
        height: 55vh;
    }

    .hero_avatar-n-sos {
        justify-content: end;
        align-items: end;
        gap: 44px;
    }

    #mobile {
        display: none;
    }

    #large_screen {
        display: flex;
        gap: 24px;
    }
}